<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>🍕Buonos Pizza🍕</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/c249425591.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">  
      <link rel="stylesheet" href="/css/nav-bar-2.css">  
      <script src="js/modal.js" defer></script>
    </head>

    <body>
      {{!-- * Modal (covers entire screen, disappears after first use.) --}}
      <div id="modal" class="modal">
        <div class="modal-content">
          <div class="sub-section buonos-font">
            <br>
            <h1>Welcome to Buonos Pizza</h1>
            <h3>Please choose your favorite location!</h3>
            <br>
          </div>
          {{!--^ Change hyperlinks to buonos websites (https) --}}
          <img src="/images/photos/header.webp" alt="">
          <br>
          <center>
            <a href="https://www.buonosgilbert.com/?mredirect=true">
              <h1 style="border: 1px solid black">1464 E Williams Field Rd, Gilbert, AZ 85295</h1>
            </a>
          </center>

          <center>
            <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7584842!2d33.3074568?entry=ttu&g_ep=EgoyMDI0MTAwOC4wIKXMDSoASAFQAw%3D%3D">
              <h3>View map</h3>
            </a>
          </center>
          <br>
          <img src="/images/photos/header-higley.jpg" alt="">
          <br>
          <center>
            <a href="https://www.buonoshigley.com/?mredirect=true">
              <h1 style="border: 1px solid black">1652 N Higley Rd, Gilbert, AZ 85234</h1>
            </a>
          </center>
          <center>
            <a href="https://www.google.com/maps/place/1652+N+Higley+Rd+%23103,+Gilbert,+AZ+85234/@33.3821112,-111.7294222,15z/data=!4m6!3m5!1s0x872baefd5fe6e3dd:0x345013c2282d9d4c!8m2!3d33.3803097!4d-111.724233tyle=">
              <h3>View map</h3>
            </a>
          </center>

          <br><br><br><br><br><br><br><br><br>
        </div>
      </div>

      <nav id="navbar">
        <input type="checkbox" id="sidebar-active">
        <a class="home-link-1" href="/"><img src="/images/buonos-logo-5.jpg" alt=""></a>
        <label for="sidebar-active" class="open-sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </label>
        <label id="overlay" for="sidebar-active"></label>

        <div class="links-container" id="top">
          <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </label>
          <a class="home-link" href="/"><img src="/images/buonos-logo-5.jpg" alt=""></a> 
          <a href="/">Home</a> 
          <a href="/menu-1">Menu</a> 
          <a href="/specials">Catering</a>
          <a href="/order-online">Delivery</a>
          <a href="/location">Location</a>
          <a href="/hours">Hours</a>
          <a href="/contact-us">Contact</a>
          <a href="/about">About</a>

          <a href="/specials-2">Specials</a>

          <a href="/trivia-home-page">Trivia</a>

          <a class="login-link" href="/employee/login">Login</a>
        </div>   
      </nav>

      <div class="page">
        <main>
          {{{ body }}}
        </main>
      </div>

      <script src="/js/logout.js"></script>
      <script src="/js/login.js"></script>

      <script>
        function showSidebar() {
          const sidebar = document.querySelector('.side-bar');
          sidebar.style.display = 'flex';
        }
        function hideSidebar() {
          const sidebar = document.querySelector('.side-bar');
          sidebar.style.display = 'none';
        }
      </script>
    </body>
  </html>