<head>
  <link rel="stylesheet" href="/css/style-page.css">
  <link rel="stylesheet" href="/css/video-player.css">
  <link rel="stylesheet" href="/css/gallery-flip-animation.css">
  <link rel="stylesheet" href="/css/social.css">
</head>

<div class="page-container">
  <br>
  <div class="heading buonos-font">
    <center>
      <h1>About Us</h1>
    </center>
  </div>

  <div class="video-player">
    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/-yCUuy-aX80?si=Vt-eH92ZDxaQ4BbU&amp;start=603" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div> 

  <div class="sub-section buonos-font">
    <h2>Meet The Team</h2>
    <h5>
      James and family from the ORIGINAL BUONO'S are BACK. At Buono's Higley we stay true to NYC style pizza, by using fresh local ingredients. Buono's has been bringing New York-style pizza to Arizona since 1989!  Just like a local NYC neighborhood pizzeria. We are an independently family owned and operated pizzeria restaurant. Joining James is his fiance Nia from New York and his father Jimmy from New Jersey. We look forward to providing a great atmosphere and even better food for the community.
    </h5>
  </div>

  <div class="sub-section buonos-font">
    <h2>Dine in or take out</h2>
    <h5>
      We have worked to package our meals in a way that lets you bring the quality of our meals into your home. We always love to see you in person, but even when we can't we ensure that your dining experience is top notch!
    </h5>
  </div>

  <div class="sub-section buonos font">
    <h2>Made in store</h2>
    <h5>
      We refuse to compromise. We use the freshest and finest ingredients. Our Pizza Dough is made fresh daily. All sauces and hand tossed pizzas are made in house. We thank you for supporting our locally owned and operated Pizzaria!!
      <br>
      Stay tuned as we are on schedule to OPEN mid to early August.
      <br>
      Follow us on IG @BuonosHigley
    </h5>
  </div>
</div>