<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
  <div class="container-information-header">
    <center>
      <h1>Create Category</h1>
      <h4>For admin only</h4>
    </center>
  </div>
  <div class="container-update-item">
    <div class="container-fluid item">
      <form id="createCategory">
        <div class="container py-3">
          <h2 class="">Categories</h2>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-catgeory-list" aria-expanded="false" aria-controls="collapsable-catgeory-list">
            See all active categories
          </button>
          <div class="collapse" id="collapsable-catgeory-list">
            <div class="card card-body">
              <ul>
                {{#each c as |x|}}  
                  <li>{{x.name}}</li>           
                {{/each}}
              </ul>
            </div>
          </div>
          <br><br>
          <div class="forms">
            <label 
              for="menu-item-name" 
              class="form-label"
            >
              <b>Name</b>
              <b style="color:#FF0000";>*required</b>
            </label>
            <input 
              id="name"
              type="text"
              class="form-control"
              placeholder="Some Name..."
              required
            >
            </input>
            <label 
              for="image" 
              class="form-label"
            >
              <b>Choose an image:</b>
              <b style="color:#FF0000";>*required</b>
            </label>
            <select 
              id="image" 
              name="image" 
              class="form-select"
              required
            >
              {{#each i as |x|}}
                <option 
                  value="{{x.url}}">{{x.name}}
                </option>
              {{/each}}
            </select>
          </div>
          <div class="d-flex justify-content-evenly">
            <button
              type="submit"
              class="btn btn-primary"
              id="addCatButton">
              Submit
            </button>
            <button 
              class="btn btn-warning view-menu-button" onclick="history.back()"
            >
              Cancel
            </button>
          </div>  
        </div>
      </form>
    </div>
  </div>

  <br><br><br><br><br><br><br>
  <br><br><br><br><br>
</div>

<script src="/js/createCategory.js"></script>