<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
  <div class="container-information-header">
    <center>
      <h1>Create Sauce Pasta</h1>
      <h4>For admin only</h4>
    </center>
  </div>

  <div class="container-update-item">
    <div class="container-fluid item">
      <form id="createSaucePasta">
        <div class="container py-3">
          <h2 class="">Sauce Pasta</h2>
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable-catgeory-list" aria-expanded="false" aria-controls="collapsable-catgeory-list">
            See all active sauce pasta
          </button>

          <div class="collapse" id="collapsable-catgeory-list">
            <div class="card card-body">
              <ul>
                {{#each sp as |x|}}  
                  <li>{{x.name}}</li>           
                {{/each}}
              </ul>
            </div>
          </div>
          <br><br>
          <div class="forms">
            <label 
              for="menu-item-name" 
              class="form-label"
            >
              <b>Name</b>
              <b style="color:#FF0000";>*required</b>
            </label>
            <input 
              id="name" 
              type="text" 
              class="form-control" 
              value="{{sp.name}}" 
              placeholder="Some Name..."
              required
            >
            <label 
              for="menu-item-description" 
              class="form-label"
            >
              <b>Price 3 OZ</b>
              <b style="color:#FF0000";>*required</b>
            </label>
            <input 
              id="price3oz" 
              type="text" 
              class="form-control" 
              value="{{sp.priceFull}}" 
              placeholder="0.00..."
              require
            >
            <label 
              for="menu-item-description" 
              class="form-label"
            >
              <b>Price 16 OZ</b>
              <b style="color:#FF0000";>*required</b>
            </label>
            <input 
              id="price16oz" 
              type="text" 
              class="form-control" 
              value="{{sp.priceHalf}}" 
              placeholder="0.00..."
              require
            >
            <br><br>
          </div>	
        </div>
        <div class="d-flex justify-content-evenly">
          <div>
            <button
              type="submit"
              class="btn btn-primary">
                Create
            </button>
          </div>
          <button 
            class="btn btn-warning view-menu-button" onclick="history.back()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <br><br><br><br>
  <br><br><br><br>
</div>

<script src="/js/createSaucePasta.js"></script>