<head>
  <link rel="stylesheet" href="/css/style-page.css">
  <link rel="stylesheet" href="/css/hours.css">
  <link rel="stylesheet" href="/css/social.css">
</head>

<div class="page-container">
  <br>

  <div class="heading buonos-font">
    <center>
      <h1>Hours</h1>
    </center>
  </div> 

  <div class="">
    <center>
      <h1 id="operation-status-text"></h1>
    </center>
  </div>


  {{!-- <div class="heading buonos-font">
    <center>
      <h1>COMING SOON!</h1>
    </center>
  </div>  --}}

  <div class="hours-image">
    <img src="/images/sign-hours.jpg" id="open-close" alt="">
  </div>

  
  <center>
    <h2>Current date / time:</h2>
    <span><h5 id="date" style="font-weight: bold;"></h5></span>
    <span><h5 id="time" style="font-weight: bold;"></h5></span>
  </center>

  <center>
    <h4>
      Hours of operation are subject to change based on circumstance or holidays. 
    </h4>
    <h5>
      * Please call ahead if you have inquires that need garenteed timing! *
    </h5>
  </center>

  <div class="container-hours">
    <center>
      <h2>Hours of operation</h2>

      <ul>
        {{#each hours as |h|}}
        <li>{{h.date}}</li>
        {{/each}}
      </ul>
    </center>
  </div>

</div> 

<script src="/js/hours.js"></script>